{% extends "orders/base.html" %}
{% block title %}
    Sign up
{% endblock %}
{% block body %}
   <h2> Please register</h2>
   <form class="register", action="{% url 'signup' %}", method="POST">
   	{% csrf_token %}
    <input type="text" name="username" placeholder="username"/>
    <p><input type="password" name="password" placeholder="password" /></p>
    <p><input type="email" name="email" placeholder="email" /></p>
    <p><input type="text" name="firstname" placeholder="First name" /></p>
    <p><input type="text" name="lastname" placeholder="Last name" /></p>
    
    <p><input type="submit" value="signup"/></p>
</form>
{% endblock %}